.nav{
  display: flex;
  background-color:#FFFFFF;
  margin-top: 50px;
  margin-right: 120px;
}
.nav > div {
	color: #3D37F1;
	width:100px;
	height:27px;
	margin: 10px;
	text-align: center;
	line-height: 70px;
	font-size:18px;
	font-family: lato, sans-serif;
	font-weight: bold;
	justify-content: flex-end;
}
header{
	display:flex;
	background-color:#FFFFFF;
	justify-content:space-between;
	align-items: center;
}
.logo{
	width:130px;
	margin-top:60px;
	margin-left:120px;
}
.box1{
	width:600px;
	margin-left:80px;
	margin-top:100px;

}
h2{
	font-size:60px;
	font-family:lato, sans-serif;
	font-weight:bold;
	color: #534D4D;
	word-spacing: 5px;
	line-height:70px;
}
h3{
	font-size: 18px;
	font-family: roboto,sans-serif;
	color: #534D4D;
	margin-top:30px;
	margin-bottom:80px;
}
.button{
    background-color:#3D37F1;
    color: #FFFFFF;
    text-align: center;
    font-size:15px;
    font-family: 'Poppins', sans-serif;
    width: 135px;
	  height: 45px;
    border-radius:50px;
    border-style: none;
    display:flex;
    align-items: center;
    justify-content:space-around;
}
button:hover{
	background-color: green;
}
.box2{
	width: 801px;
	width: 526.63px;
}
.container {
	display:flex;
	align-items: flex-end;
	justify-content: space-around;
}
.container1{
	display:flex;
	align-items:center;
	flex-direction: column;
	margin-top:200px;
	margin-bottom:px;
}
.div1{
	font-size: 20px;
	font-family:lato, sans-serif;
	color: #3D37F1;
	font-weight:bold;
	margin-bottom:20px;
}
.div2{
	font-size: 40px;
	font-family:lato, sans-serif;
	font-weight:bold;
	color: #5A5454;
	margin-bottom:20px;
}
.div3{
	font-size: 18px;
	font-family:roboto, sans-serif;
	color: #747474;
	margin-bottom: 20px;
	text-align: center;
	width: 712px;
	height: 85px;
	word-spacing: 3px;
	line-height: 25px;
}
.container2 {
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
}

.img1{
	margin-bottom: 60px;
}
.m1{
	width: 370px;
	margin: 8px;
	background-color: #FBBA77;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 120px;
}
.m1:nth-child(2) {
	background-color: #41EAE3;

}
.m1:nth-child(3) {
	background-color: #69529F;

}
.m1:nth-child(4) {
	background-color: #4386D2;

}
.m1:nth-child(5) {
	background-color: #A5A2F6;

}
.m1:nth-child(6) {
	background-color: #FF8088;

}


.text1{
	width: 150px;
	color: #FFFFFF;
	font-size: 22px;
	font-family:lato, sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}

.text2{
	width: 328px;
	color: #FFFFFF;
	font-size: 16px;
	font-family:roboto, sans-serif;
	line-height: 25px;
}
.text3{
	width: 131px;
	height: 45px;
	background-color: transparent;
	color:#FFFFFF; 
	border-radius:50px;
	border: 2px solid white;
	text-align: center;
	font-size: 15px;
	font-family:roboto, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
